SECRET_KEY=Secret_key

DB_NAME=nome_database
DB_USER=nome_utente
DB_PASS=password
DB_ROOT_PASS=root_password
DB_HOST=localhost
DB_POOL_NAME=pool_name
DB_POOL_SIZE=5

REDIS_PASS=password
REDIS_URL=redis://:password@localhost:6379/0

LOGGING_LEVEL=DEBUG #DEBUG, INFO, WARNING, ERROR, CRITICAL

SESSION_TIMEOUT_REMEMBER_ME_DAYS=30
SESSION_TIMEOUT_MINUTES=5
