# Ambiente Virtuale
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database locali (SQLite)
*.db

# Segreti (FONDAMENTALE)
.env

# IDE e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db